/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


@import './assets/css/layer-base.scss';
@import './assets/css/theme.scss';
@import './assets/css/utilities.scss';
// Your custom SCSS below
body {
    font-family: 'Inter', sans-serif;
}








.vc {
    border-radius: var(--radius-xl);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--color-gray-200);
    background-color: var(--color-white);
    --tw-shadow: 0 10px 15px -3px var(--tw-shadow-color, #0000001a), 0 4px 6px -4px var(--tw-shadow-color, #0000001a);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow)
}

.vc[data-vc-input] {
    position: absolute
}

.vc[data-vc-type=default] {
    padding: calc(var(--spacing)*3)
}

.vc[data-vc-type=multiple] {
    width: calc(var(--spacing)*80);
    padding-block: calc(var(--spacing)*3)
}

@media (width>=40rem) {
    .vc[data-vc-type=multiple] {
        width: calc(var(--spacing)*160)
    }
}

.vc[data-vc-calendar-hidden] {
    display: none
}

.dark .vc:not([data-vc-theme=light]) {
    border-color: var(--color-neutral-700);
    background-color: var(--color-neutral-900)
}

.vc-week {
    padding-bottom: calc(var(--spacing)*1.5);
    display: flex
}

.vc-week__day {
    width: calc(var(--spacing)*10);
    text-align: center;
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    --tw-font-weight: var(--font-weight-normal);
    font-weight: var(--font-weight-normal);
    color: var(--color-gray-500);
    margin: 1px;
    display: block
}

.vc-week__day:focus {
    --tw-outline-style: none;
    outline-style: none
}

@media (forced-colors:active) {
    .vc-week__day:focus {
        outline-offset: 2px;
        outline: 2px solid #0000
    }
}

.dark .vc:not([data-vc-theme=light]) .vc-week__day {
    color: var(--color-neutral-500)
}

.vc-dates {
    row-gap: calc(var(--spacing)*.5);
    grid-template-columns: repeat(7, minmax(0, 1fr));
    display: grid
}

.vc-date {
    width: calc(var(--spacing)*10.5);
    height: calc(var(--spacing)*10.5);
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    color: var(--color-gray-800);
    border-radius: 3.40282e38px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative
}

.vc-date:empty {
    visibility: hidden
}

.vc-date:hover {
    color: var(--color-blue-600)
}

.vc-date:hover.active {
    --tw-text-opacity: 1;
    color: rgb(59 130 246/var(--tw-text-opacity))
}

.vc-date:hover:before {
    border-color: var(--color-blue-600)
}

.vc-date:nth-child(7n) {
    border-top-right-radius: 3.40282e38px;
    border-bottom-right-radius: 3.40282e38px
}

.vc-date:nth-child(7n+1) {
    border-top-left-radius: 3.40282e38px;
    border-bottom-left-radius: 3.40282e38px
}

.vc-date:before {
    content: "";
    inset: calc(var(--spacing)*0);
    border-style: var(--tw-border-style);
    border-width: 1.5px;
    border-color: #0000;
    border-radius: 3.40282e38px;
    width: 100%;
    height: 100%;
    position: absolute
}

.vc-date button {
    border-radius: 3.40282e38px;
    width: 100%;
    height: 100%;
    position: relative
}

.vc-date[data-vc-date-month=prev],
.vc-date[data-vc-date-month=next] {
    color: var(--color-gray-400)
}

.vc-date[data-vc-date-today] {
    background-color: var(--color-blue-600);
    color: var(--color-white)
}

.vc-date[data-vc-date-selected] {
    background-color: var(--color-blue-600)
}

.vc-date[data-vc-date-selected]:not([data-vc-date-selected=middle]) {
    color: var(--color-white)
}

.vc-date[data-vc-date-selected][data-vc-date-hover=first-and-last] {
    border-radius: 3.40282e38px
}

.vc-date[data-vc-date-hover=first],
.vc-date[data-vc-date-selected=first],
:is(.vc-date[data-vc-date-hover=first], .vc-date[data-vc-date-selected=first]):before {
    border-radius: 3.40282e38px 0 0 3.40282e38px
}

.vc-date[data-vc-date-hover=last],
.vc-date[data-vc-date-selected=last],
:is(.vc-date[data-vc-date-hover=last], .vc-date[data-vc-date-selected=last]):before {
    border-radius: 0 3.40282e38px 3.40282e38px 0
}

.vc-date[data-vc-date-hover=first][data-vc-date-selected],
.vc-date[data-vc-date-hover=last][data-vc-date-selected],
.vc-date[data-vc-date-selected=first],
.vc-date[data-vc-date-selected=last] {
    color: var(--color-white)
}

:is(.vc-date[data-vc-date-hover=first][data-vc-date-selected], .vc-date[data-vc-date-hover=last][data-vc-date-selected], .vc-date[data-vc-date-selected=first], .vc-date[data-vc-date-selected=last]):before {
    background-color: var(--color-blue-600)
}

:is(.vc-date[data-vc-date-hover], .vc-date[data-vc-date-selected=middle]):not([data-vc-date-hover=first]):not([data-vc-date-hover=last]):not([data-vc-date-hover=first-and-last]) {
    border-radius: 0
}

:is(.vc-date[data-vc-date-hover], .vc-date[data-vc-date-selected=middle]):not([data-vc-date-today]):not([data-vc-date-hover=first-and-last]) {
    background-color: var(--color-gray-100)
}

.dark .vc:not([data-vc-theme=light]) .vc-date {
    color: var(--color-neutral-200)
}

.dark .vc:not([data-vc-theme=light]) .vc-date[data-vc-date-month=prev],
.dark .vc:not([data-vc-theme=light]) .vc-date[data-vc-date-month=next] {
    color: var(--color-neutral-600)
}

:is(.dark .vc:not([data-vc-theme=light]) .vc-date[data-vc-date-hover], .dark .vc:not([data-vc-theme=light]) .vc-date[data-vc-date-selected=middle]):not([data-vc-date-today]):not([data-vc-date-hover=first-and-last]) {
    background-color: var(--color-neutral-800)
}

.vc-months {
    gap: calc(var(--spacing)*3);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    display: grid
}

.vc-months__month {
    align-items: center;
    column-gap: calc(var(--spacing)*2);
    border-radius: var(--radius-lg);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--color-gray-200);
    padding-inline: calc(var(--spacing)*3);
    padding-block: calc(var(--spacing)*2);
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
    color: var(--color-gray-800);
    display: inline-flex
}

.vc-months__month:hover {
    border-color: var(--color-gray-300);
    color: var(--color-gray-500)
}

.vc-months__month:focus {
    border-color: var(--color-gray-300);
    color: var(--color-gray-500);
    --tw-outline-style: none;
    outline-style: none
}

.vc-months__month:disabled,
.vc-months__month.disabled {
    pointer-events: none;
    opacity: .5
}

.vc-months__month[data-vc-months-month-selected] {
    border-color: var(--color-blue-600);
    background-color: var(--color-blue-600);
    color: var(--color-white)
}

.dark .vc:not([data-vc-theme=light]) .vc-months__month {
    border-color: var(--color-neutral-700);
    color: var(--color-neutral-200)
}

.dark .vc:not([data-vc-theme=light]) .vc-months__month:hover,
.dark .vc:not([data-vc-theme=light]) .vc-months__month:focus {
    border-color: var(--color-neutral-600);
    color: var(--color-neutral-500)
}

.dark .vc:not([data-vc-theme=light]) .vc-months__month[data-vc-months-month-selected] {
    border-color: var(--color-blue-500);
    background-color: var(--color-blue-500)
}

.vc-month {
    color: var(--color-gray-800)
}

.vc-month:hover,
.vc-month:focus {
    color: var(--color-gray-600)
}

.dark .vc:not([data-vc-theme=light]) .vc-month {
    color: var(--color-neutral-200)
}

.dark .vc:not([data-vc-theme=light]) .vc-month:hover,
.dark .vc:not([data-vc-theme=light]) .vc-month:focus {
    color: var(--color-neutral-300)
}

.vc-years {
    gap: calc(var(--spacing)*2);
    grid-template-columns: repeat(5, minmax(0, 1fr));
    display: grid
}

.vc-years__year {
    align-items: center;
    column-gap: calc(var(--spacing)*2);
    border-radius: var(--radius-lg);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--color-gray-200);
    padding-inline: calc(var(--spacing)*3);
    padding-block: calc(var(--spacing)*2);
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
    color: var(--color-gray-800);
    display: inline-flex
}

.vc-years__year:hover,
.vc-years__year:focus {
    border-color: var(--color-gray-300);
    color: var(--color-gray-500)
}

.vc-years__year:focus {
    --tw-outline-style: none;
    outline-style: none
}

.vc-years__year:disabled,
.vc-years__year.disabled {
    pointer-events: none;
    opacity: .5
}

.vc-years__year[data-vc-years-year-selected] {
    border-color: var(--color-blue-600);
    background-color: var(--color-blue-600);
    color: var(--color-white)
}

.dark .vc:not([data-vc-theme=light]) .vc-years__year {
    border-color: var(--color-neutral-700);
    color: var(--color-neutral-200)
}

.dark .vc:not([data-vc-theme=light]) .vc-years__year:hover,
.dark .vc:not([data-vc-theme=light]) .vc-years__year:focus {
    border-color: var(--color-neutral-600);
    color: var(--color-neutral-500)
}

.dark .vc:not([data-vc-theme=light]) .vc-years__year[data-vc-years-year-selected] {
    border-color: var(--color-blue-500);
    background-color: var(--color-blue-500)
}

.vc-year {
    color: var(--color-gray-800)
}

.vc-year:hover,
.vc-year:focus {
    color: var(--color-gray-600)
}

.dark .vc:not([data-vc-theme=light]) .vc-year {
    color: var(--color-neutral-200)
}

.dark .vc:not([data-vc-theme=light]) .vc-year:hover,
.dark .vc:not([data-vc-theme=light]) .vc-year:focus {
    color: var(--color-neutral-300)
}

.vc-arrow {
    width: calc(var(--spacing)*8);
    height: calc(var(--spacing)*8);
    color: var(--color-gray-800);
    border-radius: 3.40282e38px;
    justify-content: center;
    align-items: center;
    display: flex
}

.vc-arrow:hover,
.vc-arrow:focus {
    background-color: var(--color-gray-100)
}

.vc-arrow:focus {
    --tw-outline-style: none;
    outline-style: none
}

@media (forced-colors:active) {
    .vc-arrow:focus {
        outline-offset: 2px;
        outline: 2px solid #0000
    }
}

.vc-arrow:disabled,
.vc-arrow.disabled {
    pointer-events: none;
    opacity: .5
}

.dark .vc:not([data-vc-theme=light]) .vc-arrow {
    color: var(--color-neutral-400)
}

.dark .vc:not([data-vc-theme=light]) .vc-arrow:hover,
.dark .vc:not([data-vc-theme=light]) .vc-arrow:focus {
    background-color: var(--color-neutral-800)
}

@keyframes infinite-carousel-x {
    0% {
        transform: translate(-2800px)
    }

    to {
        transform: translate(0)
    }
}

@keyframes infinite-carousel-x-reverse {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(-2800px)
    }
}

@media (width<=1320px) {
    @keyframes infinite-carousel-x {
        0% {
            transform: translate(-2100px)
        }

        to {
            transform: translate(0)
        }
    }

    @keyframes infinite-carousel-x-reverse {
        0% {
            transform: translate(0)
        }

        to {
            transform: translate(-2100px)
        }
    }
}

@media (width<=640px) {
    @keyframes infinite-carousel-x {
        0% {
            transform: translate(-1750px)
        }

        to {
            transform: translate(0)
        }
    }

    @keyframes infinite-carousel-x-reverse {
        0% {
            transform: translate(0)
        }

        to {
            transform: translate(-1750px)
        }
    }
}

@keyframes shine {
    0% {
        background-position: 0%
    }

    to {
        background-position: 100%
    }
}

@keyframes sliding-img-up-1 {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(-722px)
    }
}

@keyframes sliding-img-up-2 {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(-1098px)
    }
}

@keyframes sliding-img-down-1 {
    0% {
        transform: translateY(-1161px)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes sliding-img-down-2 {
    0% {
        transform: translateY(-1389px)
    }

    to {
        transform: translateY(0)
    }
}

@media (width>=640px) {
    @keyframes sliding-img-up-1 {
        0% {
            transform: translateY(0)
        }

        to {
            transform: translateY(-936px)
        }
    }

    @keyframes sliding-img-up-2 {
        0% {
            transform: translateY(0)
        }

        to {
            transform: translateY(-1438px)
        }
    }

    @keyframes sliding-img-down-1 {
        0% {
            transform: translateY(-1511px)
        }

        to {
            transform: translateY(0)
        }
    }

    @keyframes sliding-img-down-2 {
        0% {
            transform: translateY(-1135px)
        }

        to {
            transform: translateY(0)
        }
    }
}

@media (width>=1024px) {
    @keyframes sliding-img-up-1 {
        0% {
            transform: translateY(0)
        }

        to {
            transform: translateY(-615px)
        }
    }

    @keyframes sliding-img-up-2 {
        0% {
            transform: translateY(0)
        }

        to {
            transform: translateY(-928px)
        }
    }

    @keyframes sliding-img-down-1 {
        0% {
            transform: translateY(-986px)
        }

        to {
            transform: translateY(0)
        }
    }

    @keyframes sliding-img-down-2 {
        0% {
            transform: translateY(-928px)
        }

        to {
            transform: translateY(0)
        }
    }
}

@keyframes sliding-img-right-1 {
    0% {
        background-position-x: 0
    }

    to {
        background-position-x: -2880px
    }
}

@keyframes sliding-img-left-1 {
    0% {
        background-position-x: 0
    }

    to {
        background-position-x: 2880px
    }
}

code {
    color: #dc2626;
    font-size: .875rem
}

.dark code {
    color: #f43f5e
}

pre.language-markup {
    max-height: 30rem
}

pre.language-markup::-webkit-scrollbar {
    background-color: #f3f4f6;
    width: .4375rem
}

pre.language-markup::-webkit-scrollbar-thumb {
    background-color: #d1d5db
}

code:not(.language-markup):not(.language-js):not(.language-css):not(.language-jsx):not(.language-tsx):not(.language-ts):before,
code:not(.language-markup):not(.language-js):not(.language-css):not(.language-jsx):not(.language-tsx):not(.language-ts):after {
    content: "`"
}

.bg-stripes-blue {
    background-image: linear-gradient(135deg, #3b82f6 8.33%, #fff 8.33% 50%, #3b82f6 50% 58.33%, #fff 58.33% 100%);
    background-size: 8.49px 8.49px
}

.dark .dark\:bg-stripes-blue {
    background-image: linear-gradient(135deg, #3b82f6 8.33%, #1f2937 8.33% 50%, #3b82f6 50% 58.33%, #1f2937 58.33% 100%);
    background-size: 8.49px 8.49px
}

.bg-stripes-indigo {
    background-image: linear-gradient(135deg, #6366f1 8.33%, #fff 8.33% 50%, #6366f1 50% 58.33%, #fff 58.33% 100%);
    background-size: 8.49px 8.49px
}

.dark .dark\:bg-stripes-indigo {
    background-image: linear-gradient(135deg, #6366f1 8.33%, #1f2937 8.33% 50%, #6366f1 50% 58.33%, #1f2937 58.33% 100%);
    background-size: 8.49px 8.49px
}

code[class*=language-],
pre[class*=language-] {
    color: #fff;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -webkit-hyphens: none;
    hyphens: none;
    font-size: .9375em
}

pre[class*=language-]::-moz-selection {
    text-shadow: none;
    background: #1c4980
}

pre[class*=language-] ::-moz-selection {
    text-shadow: none;
    background: #1c4980
}

code[class*=language-]::-moz-selection {
    text-shadow: none;
    background: #1c4980
}

code[class*=language-] ::-moz-selection {
    text-shadow: none;
    background: #1c4980
}

pre[class*=language-]::selection {
    text-shadow: none;
    background: #1c4980
}

pre[class*=language-] ::selection {
    text-shadow: none;
    background: #1c4980
}

code[class*=language-]::selection {
    text-shadow: none;
    background: #1c4980
}

code[class*=language-] ::selection {
    text-shadow: none;
    background: #1c4980
}

@media print {

    code[class*=language-],
    pre[class*=language-] {
        text-shadow: none
    }
}

@media (width<=640px) {
    .doc-installation-step .code-toolbar {
        z-index: 1
    }
}

pre[class*=language-] {
    padding: 1rem;
    overflow-x: auto
}

pre[class*=language-]::-webkit-scrollbar {
    background-color: #f3f4f6;
    height: .25rem
}

pre[class*=language-]::-webkit-scrollbar-thumb {
    background-color: #d1d5db
}

.dark pre[class*=language-]::-webkit-scrollbar {
    background-color: #404040
}

.dark pre[class*=language-]::-webkit-scrollbar-thumb {
    background-color: #737373
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
    background: #1f2937;
    border: 1px solid oklch(26.9% 0 0)
}

:not(pre)>code[class*=language-]:focus,
pre[class*=language-]:focus {
    border: 1px solid oklch(44.6% .03 256.802);
    outline: none
}

.dark :not(pre)>code[class*=language-],
.dark pre[class*=language-] {
    background: #0a0a0a;
    border: 1px solid oklch(26.9% 0 0)
}

.dark :not(pre)>code[class*=language-]:focus,
.dark pre[class*=language-]:focus {
    border-color: oklch(37.1% 0 0)
}

.dark :not(pre)>code[class*=language-].plugin-language-markup,
.dark pre[class*=language-].plugin-language-markup {
    background-color: #262626;
    border: 1px solid #404040
}

.plugin-language-markup>code {
    color: #fff
}

.prism-light:not(pre)>.prism-light code[class*=language-],
pre.prism-light[class*=language-] {
    background: #f9fafc
}

.prism-light code[class*=language-],
pre.prism-light[class*=language-] {
    color: #1f2937
}

:not(pre)>code[class*=language-] {
    white-space: normal;
    border-radius: .3em;
    padding: .1em
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #6b7280
}

.dark .token.comment,
.dark .token.prolog,
.dark .token.doctype,
.dark .token.cdata {
    color: #737373
}

.token.punctuation {
    color: #6b7280
}

.dark .token.punctuation {
    color: #737373
}

.token.namespace {
    opacity: .7
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #f472b6
}

.language-css .token.property,
.language-css .token.tag,
.language-css .token.boolean,
.language-css .token.number,
.language-css .token.constant,
.language-css .token.symbol,
.language-css .token.deleted {
    color: #60d3ec
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #d1d5db
}

.dark .token.selector,
.dark .token.attr-name,
.dark .token.string,
.dark .token.char,
.dark .token.builtin,
.dark .token.inserted {
    color: #d4d4d4
}

.language-js .token.selector,
.language-js .token.attr-name,
.language-js .token.string,
.language-js .token.char,
.language-js .token.builtin,
.language-js .token.inserted {
    color: #60d3ec
}

.language-js .token.operator,
.language-js .token.entity,
.language-js .token.url,
.language-js .language-css .token.string,
.language-js .style .token.string {
    color: #fff
}

.language-css .token.selector,
.language-css .token.attr-name,
.language-css .token.string,
.language-css .token.char,
.language-css .token.builtin,
.language-css .token.inserted {
    color: #f472b6
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #d09a5c;
    background: 0 0
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #60d3ec
}

.token.function,
.token.class-name {
    color: #dd4a68
}

.token.regex,
.token.important,
.token.variable {
    color: #e90
}

.token.important,
.token.bold {
    font-weight: 700
}

.token.italic {
    font-style: italic
}

.token.entity {
    cursor: help
}

div.code-toolbar {
    position: relative
}

div.code-toolbar>.toolbar {
    display: none;
    position: absolute;
    top: .75rem;
    right: .675rem
}

div.plugin-installation-markup .code-toolbar .toolbar {
    top: 1.25rem;
    right: 1rem
}

div.code-toolbar .copy-to-clipboard-button {
    color: #fff;
    cursor: pointer;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: #ffffff0d;
    border-radius: .4375em;
    padding: .5rem .75rem;
    font-size: .75rem;
    transition: all .2s ease-in-out;
    display: inline-block
}

div.code-toolbar .copy-to-clipboard-button:focus {
    outline: none
}

div.code-toolbar .copy-to-clipboard-button:focus,
div.code-toolbar .copy-to-clipboard-button:hover {
    background-color: #ffffff1a
}

.docs-prism:not(.language-markup):not(.language-js):not(.language-css):before,
.docs-prism:not(.language-markup):not(.language-js):not(.language-css):after {
    display: none
}

.line-highlight {
    --tw-border-opacity: 1;
    --tw-gradient-from: #67e8f926 var(--tw-gradient-from-position);
    --tw-gradient-to: #1f2937 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    padding: inherit 0;
    pointer-events: none;
    line-height: inherit;
    white-space: pre;
    border-inline-start-width: 4px;
    border-inline-start-color: rgb(103 232 249/var(--tw-border-opacity));
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    margin-top: 1.65em;
    position: absolute;
    left: 0;
    right: 0
}

@media print {
    .line-highlight {
        -webkit-print-color-adjust: exact;
        color-adjust: exact
    }
}

[data-hs-combo-box] .hs-combobox-category[style*="display: block"]~.hs-combobox-category[style*="display: block"] {
    margin-top: 30px
}

.apexcharts-xaxistooltip.apexcharts-theme-light {
    border-radius: var(--radius-sm);
    border-color: var(--color-blue-500);
    background-color: var(--color-blue-500);
    color: var(--color-white)
}

.apexcharts-xaxistooltip.apexcharts-xaxistooltip-bottom:before,
.apexcharts-xaxistooltip.apexcharts-xaxistooltip-bottom:after {
    border-bottom-color: var(--color-blue-500)
}

@property --tw-translate-x {
    syntax: "*";
    inherits: false;
    initial-value: 0
}

@property --tw-translate-y {
    syntax: "*";
    inherits: false;
    initial-value: 0
}

@property --tw-translate-z {
    syntax: "*";
    inherits: false;
    initial-value: 0
}

@property --tw-scale-x {
    syntax: "*";
    inherits: false;
    initial-value: 1
}

@property --tw-scale-y {
    syntax: "*";
    inherits: false;
    initial-value: 1
}

@property --tw-scale-z {
    syntax: "*";
    inherits: false;
    initial-value: 1
}

@property --tw-rotate-x {
    syntax: "*";
    inherits: false;
    initial-value: rotateX(0)
}

@property --tw-rotate-y {
    syntax: "*";
    inherits: false;
    initial-value: rotateY(0)
}

@property --tw-rotate-z {
    syntax: "*";
    inherits: false;
    initial-value: rotateZ(0)
}

@property --tw-skew-x {
    syntax: "*";
    inherits: false;
    initial-value: skewX(0)
}

@property --tw-skew-y {
    syntax: "*";
    inherits: false;
    initial-value: skewY(0)
}

@property --tw-scroll-snap-strictness {
    syntax: "*";
    inherits: false;
    initial-value: proximity
}

@property --tw-space-y-reverse {
    syntax: "*";
    inherits: false;
    initial-value: 0
}

@property --tw-space-x-reverse {
    syntax: "*";
    inherits: false;
    initial-value: 0
}

@property --tw-divide-x-reverse {
    syntax: "*";
    inherits: false;
    initial-value: 0
}

@property --tw-border-style {
    syntax: "*";
    inherits: false;
    initial-value: solid
}

@property --tw-divide-y-reverse {
    syntax: "*";
    inherits: false;
    initial-value: 0
}

@property --tw-gradient-position {
    syntax: "*";
    inherits: false
}

@property --tw-gradient-from {
    syntax: "<color>";
    inherits: false;
    initial-value: #0000
}

@property --tw-gradient-via {
    syntax: "<color>";
    inherits: false;
    initial-value: #0000
}

@property --tw-gradient-to {
    syntax: "<color>";
    inherits: false;
    initial-value: #0000
}

@property --tw-gradient-stops {
    syntax: "*";
    inherits: false
}

@property --tw-gradient-via-stops {
    syntax: "*";
    inherits: false
}

@property --tw-gradient-from-position {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0%
}

@property --tw-gradient-via-position {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 50%
}

@property --tw-gradient-to-position {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 100%
}

@property --tw-leading {
    syntax: "*";
    inherits: false
}

@property --tw-font-weight {
    syntax: "*";
    inherits: false
}

@property --tw-tracking {
    syntax: "*";
    inherits: false
}

@property --tw-shadow {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 #0000
}

@property --tw-shadow-color {
    syntax: "*";
    inherits: false
}

@property --tw-inset-shadow {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 #0000
}

@property --tw-inset-shadow-color {
    syntax: "*";
    inherits: false
}

@property --tw-ring-color {
    syntax: "*";
    inherits: false
}

@property --tw-ring-shadow {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 #0000
}

@property --tw-inset-ring-color {
    syntax: "*";
    inherits: false
}

@property --tw-inset-ring-shadow {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 #0000
}

@property --tw-ring-inset {
    syntax: "*";
    inherits: false
}

@property --tw-ring-offset-width {
    syntax: "<length>";
    inherits: false;
    initial-value: 0
}

@property --tw-ring-offset-color {
    syntax: "*";
    inherits: false;
    initial-value: #fff
}

@property --tw-ring-offset-shadow {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 #0000
}

@property --tw-outline-style {
    syntax: "*";
    inherits: false;
    initial-value: solid
}

@property --tw-blur {
    syntax: "*";
    inherits: false
}

@property --tw-brightness {
    syntax: "*";
    inherits: false
}

@property --tw-contrast {
    syntax: "*";
    inherits: false
}

@property --tw-grayscale {
    syntax: "*";
    inherits: false
}

@property --tw-hue-rotate {
    syntax: "*";
    inherits: false
}

@property --tw-invert {
    syntax: "*";
    inherits: false
}

@property --tw-opacity {
    syntax: "*";
    inherits: false
}

@property --tw-saturate {
    syntax: "*";
    inherits: false
}

@property --tw-sepia {
    syntax: "*";
    inherits: false
}

@property --tw-drop-shadow {
    syntax: "*";
    inherits: false
}

@property --tw-backdrop-blur {
    syntax: "*";
    inherits: false
}

@property --tw-backdrop-brightness {
    syntax: "*";
    inherits: false
}

@property --tw-backdrop-contrast {
    syntax: "*";
    inherits: false
}

@property --tw-backdrop-grayscale {
    syntax: "*";
    inherits: false
}

@property --tw-backdrop-hue-rotate {
    syntax: "*";
    inherits: false
}

@property --tw-backdrop-invert {
    syntax: "*";
    inherits: false
}

@property --tw-backdrop-opacity {
    syntax: "*";
    inherits: false
}

@property --tw-backdrop-saturate {
    syntax: "*";
    inherits: false
}

@property --tw-backdrop-sepia {
    syntax: "*";
    inherits: false
}

@property --tw-duration {
    syntax: "*";
    inherits: false
}

@property --tw-ease {
    syntax: "*";
    inherits: false
}

@property --tw-content {
    syntax: "*";
    inherits: false;
    initial-value: ""
}

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

@keyframes ping {

    75%,
    to {
        opacity: 0;
        transform: scale(2)
    }
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}